        body {
            margin: 0;
            padding: 0;
            /* background-color: rgb(187, 250, 240); */
            background-image: linear-gradient(45deg, #a4f2f2, #efa7d7);
            /* background-position: center; */
            background-size: contain;
            /* height: 100%; */
            font-family: sans-serif;
        }

        #container {
            /* border: 2px solid rebeccapurple; */
            color: white;
            text-align: center;
            margin: 30px;
            font-weight: 500;
            font-size: 1.2rem;
        }

        #display {
            background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
            box-shadow: 0px 0px 4px 3px #dde3d9;

            margin-top: 10vh;
            border: 1px solid rgb(232, 237, 242);
            border-radius: 5px;
            transition: all ease .4s;
        }

        #display:hover {
            transform: scale(1.02);
            animation: animate 1.3s ease-in-out;
        }

        @keyframes animate {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(.9, 1.05);
            }

            100% {
                transform: scale(1);
            }
        }

        h1 {

            font-size: 2rem;
            font-weight: 600;
            animation: zoom-in-zoom-out 2s ease-in-out infinite;
        }

        @keyframes zoom-in-zoom-out {
            0% {
                transform: scale(1, 1);
            }

            50% {
                transform: scale(1.26);
            }

            100% {
                transform: scale(1, 1);
            }
        }

        .time-text {
            font-size: 2vw;
            color: gray;
        }

        #seconds,
        #milliSeconds,
        #hours,
        #minutes {
            font-size: 6vw;
        }

        button {
            width: 180px;
            padding: 15px 10px;
            border-radius: 5px;
            /* background-color: #f12424; */
            /* color: white; */
            border: 1px solid white;
            margin: 10px;
            cursor: pointer;
            font-size: 1.2em;
            box-shadow: 0px 0px 2px 2px #5877b0;
            /* box-shadow: 0px 0xp 5px 8px #000409; */

        }


        button:hover {
            transition: all 0.1s ease-in-out;
            /* transition: color 0.5s, border-bottom 4s; */
            /* transition: color 0.5s; */
            background-color: #ffffff;
            box-shadow: 0px 0px 2px 2px #54698b;
            /* color: #f12424; */
            animation: zoom-in-out 1.3s ease-in-out infinite;
        }

        @keyframes zoom-in-out {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.08);
            }

            100% {
                transform: scale(1);
            }
        }

        #start-btn {
            border: 1px solid blue;
            color: blue;
            /* box-shadow: 5px 5px 5px 5px #edf0f5; */
        }

        #start-btn:hover {
            background-color: blue;
            color: white;
        }

        #stop-btn {
            border: 1px solid red;
            color: red;
        }

        #stop-btn:hover {
            background-color: red;
            color: white;
        }


        #reset-btn {
            border: 1px solid green;
            color: green;
        }

        #reset-btn:hover {
            background-color: green;
            color: white;
        }


        @media screen and (max-width: 720px) {
            #container {
                height: 40vh;
                width: 90vw;
                min-width: 0px;
                text-align: center;
            }

            #display {
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .time-text {
                font-size: 1rem;
            }

            #seconds,
            #milliSeconds,
            #hours,
            #minutes {
                font-size: 10vw;
            }

            button {
                font-size: 1.8rem;
                width: 250px;
            }
        }